@import "tailwindcss";

@theme {
  --color-primary: #14b8a6;
  --color-primary-light: rgba(20, 184, 166, 0.1);

  --color-sidebar: #1E293B;
  --color-sidebar-text: #ffffff;
  --color-sidebar-muted: #94a3b8;

  --color-nav-inactive: #252a31;
  --color-light-text: #94a3b8;
  --color-muted-text: #78879a;

  --color-btn-sec-bg: #f8fafc;
  --color-btn-sec-border: #e2e8f0;
  --color-btn-sec-text: #1e293b;

  --color-accent-light: rgba(20, 184, 166, 0.1);
  --color-footer-bg: #1e293b;
  --color-footer-text: #94a3b8;
  --color-text-main: #1e293b;
  --color-background-main: #ffffff;
}