@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

@import "tailwindcss";

@theme {
  --color-primary: #14b8a6;
  --color-primary-light: rgba(20, 184, 166, 0.1);

  --color-sidebar: #1e293b;
  --color-sidebar-text: #ffffff;
  --color-sidebar-muted: #94a3b8;

  --color-nav-inactive: #252a31;
  --color-light-text: #94a3b8;
  --color-muted-text: #78879a;

  --color-btn-sec-bg: #f8fafc;
  --color-btn-sec-border: #e2e8f0;
  --color-btn-sec-text: #1e293b;

  --color-accent: #14b8a6;
  --color-accent-light: rgba(20, 184, 166, 0.1);
  --color-footer-bg: #1e293b;
  --color-footer-text: #94a3b8;
  --color-text-main: #1e293b;
  --color-background-main: #ffffff;

  --color-border-3: #e2e8f0;
  --color-border-2: #cbd5e1;
  --color-text-3: #78879a;
  --color-surface-base: #ffffff;
  --color-chart-1: #14b8a6;
}

* {
  font-family: "Inter", sans-serif;
}

@keyframes slide-in {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slide-out {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(100%);
    opacity: 0;
  }
}

.animate-toast-in {
  animation: slide-in 0.2s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

.animate-toast-out {
  animation: slide-out 0.15s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}

